@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: white;
}

section, footer{
padding: 200px 0;
}
/* eu nao sei exatamente o que isso faz porem eu vou deixar por enquanto 
dps agente ver o que tem que fazer legal alais aya tem que tirar esse 
fundo aqua*/
h3{
 font-size: 50px;
}
p{
    color:#4962BE
}
/* nao sabemos ate aqui*/

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%px;

}
header{
    background-position: center;
    /*tells it that the cover can't repeat*/
    background-size: cover;
    /*tells the site that the image will not move with the site and it will stay fized
    no matter how much you scroll*/
    background-attachment: fixed;
}
img{
/* antigamente isso era um 390 px-->*/
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    
   
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: #F3F2F2;
}

nav ul{/* this is the ul inside the nav bar */  
/* we put display: flex to align the items in the row */
 display: flex;
 align-items: center;
 list-style-type: none;
 
}

nav ul a{/*this is for the links in the nav bar*/
    color: #4962BE;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display:block;
    margin-top: -17px;
    margin-left: 5px;
  
    /*this has a display: none; here*/
  
   
    
}

li:hover a{
    color: #82a4e4;
   
}
li{
    padding: 10px;
}
.btn{
    background-color: #4962BE;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.1s;

 }

 .btn:hover{
    background-color:#82a4e4;
 }
.banner{
    display: flex;
    justify-content: center;
    
}
/*idk if i wan to keep this ??*/
.banner .banner-text{
    /*  the margin: px; was supposed to be here but i didnt like
    the big look*/
    text-align: center;
    padding:0 90px;
}
.banner .banner-text h1{
    font-size: 80px;
    color: black;

}
.banner .banner-text p{
    font-size: 20px;
    color: black;
    font-weight: normal;
    margin: 18px 0;
}

 /*
banner-text{
    padding: 10px;
  }*/




/*start dos cards viu?*/
.varias-imagens .texxtos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0px 120px 0;
    font-size: 60px;
}
.cards{
    display:flex;
    justify-content: center;
    gap: 30px;
}
.varias-imagens .cards{
    margin: 5px auto;
    border-radius: 15px;
    width: 1000px;
    
}
.varias-imagens .cards img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
    align-items: center;
}
 .varias-imagens .cards :hover{
    margin-top: -5px;
    transition: 0.3s;

 }

.header2 .big-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    padding-bottom: 0;
    padding-top: -80px;

}

.header2 {
    background-attachment: fixed;
    margin-top: -90px;
}

.words .container{
    display: flex;
    align-items: center;
    margin-top: -195px ;

}

.words .words-text{
    width: 50%;
    padding: 0 40px;
}
.words .words-text h3{
    font-size: 56px;
}
.words .words-text p{
    margin: 5px 190px 10px 0;
}
.words .words-imagen{
    width: 50%;

}
.words .words-imagen img{
    width: 100%;
}
/* other one*/
.words2 .container{
    display: flex;
    align-items: center;
    margin-top: -195px;

}

.words2 .words2-text{
    width: 50%;
    padding: 0 40px;
    text-align: right;
    
}
.words2 .words2-text h3{
    font-size: 56px;
    justify-content: flex-end;
}
.words2 .words2-text p{
    margin: 5px 10px 10px 0;
    text-align: right;
    
    
}
.words2 .words-imagen{
    width: 50%;

}
.words2 .words-imagen img{
    width: 100%;
}

/* locations*/
/*start dos cards viu?*/
.varias-imagens2 .texxtos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0px 120px 290px;
    font-size: 60px;
}
.cards{
    display:flex;
    justify-content: center;
    gap: 30px;
    padding: 0 0 100px 0
    ;

}
.varias-imagens2 .cards{
    margin: 5px auto;
    border-radius: 15px;
    width: 1000px;
    margin-right: 80px;

}
.varias-imagens2 .cards img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
    align-items: center;
}
 .varias-imagens2 .cards :hover{
    margin-top: -5px;
    transition: 0.3s;

 }
